/* Autres styles inchangés */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%;
    display: flex;
    flex-direction: column; /* Modifier la direction à "column" */
    align-items: center; /* Centrer les éléments horizontalement */
}

h1 {
    margin: 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
    margin-top: 10px; /* Ajouter une marge entre le titre et les liens */
}

.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

section {
    padding: 20px;
    width: 100%;
    background-color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    width: 100%;
}

@media (min-width: 600px) {
    body {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section {
        flex: 1;
        margin-top: 40px;
    }

    .nav-links {
        flex-direction: row;
        justify-content: flex-end;
    }
}
